@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 100vh;
}

.container {
  margin-left: 0;
  margin-right: 0;
}

.background {
  background: url(../images/backgrounds/h_img.jpg);
  height: 981px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.icon {
  padding-top: 30px;
  line-height: 80px;
}

.header {
  text-align: center;
  color: #fff;
}

.mouse {
  align-self: center;
  /* justify-self */
  bottom: 30px;
  position: absolute;
}

.about {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}

.s-background {
  background: url(../images/backgrounds/s_image.jpg);
  height: 485px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  padding-top: 160px;
  font-size: 20px;
}
